<ng-container *transloco="let t; prefix: 'side-nav'">

  @let sideNavVisible = navService.sideNavVisibilitySignal();
  @let sideNavCollapsed = navService.sideNavCollapsedSignal();

  @if (accountService.currentUser()) {
    <div class="side-nav-container"
         [class.no-donate]="true"
         [class.closed]="sideNavCollapsed"
         [class.hidden]="!sideNavVisible">
      <div class="side-nav">

        <!-- Home always first -->
        <app-side-nav-item icon="fa-home" [title]="t('home')" link="/home/" />

        <!-- Shelves -->
        <app-side-nav-item icon="fa-layer-group" [title]="'Shelves'" link="/shelves/" />

        <!-- Libraries -->
        @if (navStreams$ | async; as streams) {
          @for (navStream of streams; track navStream.name) {
            @if (navStream.streamType === SideNavStreamType.Library) {
              <app-side-nav-item
                [link]="'/library/' + navStream.libraryId + '/'"
                [icon]="getLibraryTypeIcon(navStream.library!.type)"
                [imageUrl]="getLibraryImage(navStream.library!)"
                [title]="navStream.library!.name"
                [comparisonMethod]="'startsWith'" />
            }
          }
        }

      </div>
    </div>
  }

  @if (breakpointService.isTabletOrBelow()) {
    <div class="side-nav-overlay" (click)="toggleNavBar()" [class.closed]="sideNavCollapsed"></div>
  }

</ng-container>
